<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="infoLogfile" xsi:type="File" encoding="UTF-8" fileName="C:\DEPLOY_LOG\TelegramApi\TelegramApi_Info_${shortdate}.log"
            layout="---------------------------------------------------------------------${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}" />
    <target name="errorLogfile" xsi:type="File" encoding="UTF-8" fileName="C:\DEPLOY_LOG\TelegramApi\TelegramApi_Error_${shortdate}.log"
            layout="---------------------------------------------------------------------${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}" />
    <target name="debugLogfile" xsi:type="File" encoding="UTF-8" fileName="C:\DEPLOY_LOG\TelegramApi\TelegramApi_Debug_${shortdate}.log"
            layout="---------------------------------------------------------------------${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="infoLogfile" />
    <logger name="*" level="Error" writeTo="errorLogfile" />
    <logger name="*" level="Debug" writeTo="debugLogfile" />
  </rules>
</nlog>
